{{ define "main" }}
	<main>

    <div class="banner-block">
      <img src="/img/banner.jpg">
    </div>

    <div class="welcome-block">
      {{ .Content }}
    </div>

    <div class="modules-block">
      <ul>
      <li class="module">
        <img src="/img/module-creative.jpg">
        <h1> Creative </h1>
        <p>
          Paper cup construction is an open ended, creative, artistic activity
          for all ages. The only limit is your own imagination.
        </p>
      </li>
      <li class="module">
        <img src="/img/module-stimulating.jpg">
        <h1> Stimulating </h1>
        <p>
        Paper cup construction fosters spatial and mathematical thinking, as well
        as structural problem-solving skills.
        </p>
      </li>
      <li class="module">
        <img src="/img/module-cooperative.jpg">
        <h1> Cooperative </h1>
        <p>
        Paper cup construction is a fantastic activity for small and large groups
        as a fun activity, icebreaker, or team building exercise.
        </p>
      </li>
      </ul>
    </div>

    <div class="video-block">
      <div class="wrapper">
        <div class="h_iframe">
        <img class='ratio' src="/img/placeholder16x9.png">
          <iframe src="https://www.youtube.com/embed/4oVxz8TCvd4?color=white&rel=0&showinfo=0&modestbranding=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="details-block">
      <img src="/img/pyramid-expose.jpg">
      <p>
      A creative, stimulating, and collaborative activity, paper cup
      construction is perfect for individuals and groups of all ages. Because
      early play with simple constructive toys has been correlated with later
      academic success, paper cups provide an ideal way to provide schools and
      families with a low-cost educational toy. They are also perfect for
      professional team building or icebreaker activities. You can explore the
      benefits of paper cup construction on the about page. If you’re
      interested to learn more, you can purchase Fundamentals of Paper Cup
      Construction from amazon.com. This book outlines some of the fundamental
      techniques of paper cup construction, complete with a comprehensive
      glossary of terminology as well as tips for organizing paper cup
      construction activities.
    </p>

    </div>

	</main>

{{ end }}
