
<div class="gallery">
  <img src="/img/gallery01.jpg"> 

  <img src="/img/gallery02.jpg" style="width: 20%; float:left;"><img src="/img/gallery03.jpg" style="width: 40%;"><img src="/img/gallery04.jpg" style="width: 40%;"> 

  <img src="/img/gallery05.jpg" style="width: 60%; margin-left: 10%;"> 

  <img src="/img/gallery06.jpg" style="width: 33%;"><img src="/img/gallery07.jpg" style="width: 33%;"><img src="/img/gallery08.jpg" style="width: 33%;"> 

  <img src="/img/gallery09.jpg" style="width: 100%;"> 

  <img src="/img/gallery10.jpg" style="width: 60%;"><img src="/img/gallery11.jpg" style="width: 40%;"> 

  <img src="/img/gallery01.jpg"> 

</div>
